@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --bg1: #fff7fb;
  --bg2: #f4f7ff;
}

body {
  background: radial-gradient(1200px 600px at 20% 10%, var(--bg1), transparent 60%),
              radial-gradient(900px 500px at 80% 30%, var(--bg2), transparent 60%),
              #ffffff;
}
